<div class="frame">

<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<div class="show-p">

    <p><b>Title:</b><%= @book.title %></p>
    <p><b>Body:</b><%= @book.body %></p>

</div>

<%= link_to "Edit","/books/#{@book.id}/edit" %>

|

<%= link_to "Back", "/books" %>

</div>